.idea/
.temp/
dist/
tmp/
node_modules/
package-lock.json
*.tmp
*.log
*.css.map
src/*.css
src/components/**/*.css
.DS_Store
*.pem
.sass-cache/

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*storybook.log
storybook-static/
