*, ::after, ::before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;

    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
}

a, button, input, select, textarea {
    -webkit-tap-highlight-color: transparent;
}
.rounded {
    border-radius: 9999px !important;
}

@mixin no-border {
    border: 0;
}
@mixin border {
    border-radius: .25rem;
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
    border-width: 1px;
}
@mixin text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.click {
    cursor: pointer;
}

/** White */
$white-color: #fff;
@mixin white-bg {
    background-color: $white-color;
}
@mixin white-text {
    color: $white-color;
}
@mixin white-border {
    border-color: $white-color;
}

/** Primary */
$primary-color: rgb(48 115 241);
$primary-dark-color: rgb(22, 59, 129);
$primary-soft-color: rgba(48, 115, 241, .25);
@mixin primary-bg {
    background-color: $primary-color;
}
@mixin primary-text {
    color: $primary-color;
}
@mixin primary-border {
    border-color: $primary-color;
}
.sx-primary {
    @include white-text;
    @include primary-bg;
}
.sx-primary-outline {
    @include primary-text;
    @include primary-border;
    border-width: 1px;
}
.sx-primary-soft {
    @include primary-text;
    background-color: $primary-soft-color;
    @include no-border;
}

/** Success */
$success-color: rgb(28 180 84);
$success-dark-color: rgb(18, 104, 49);
$success-soft-color: rgba(28, 180, 84, .25);
@mixin success-bg {
    background-color: $success-color;
}
@mixin success-text {
    color: $success-color;
}
@mixin success-border {
    border-color: $success-color;
}
.sx-success {
    @include white-text;
    @include success-bg;
}
.sx-success-outline {
    @include success-text;
    @include success-border;
    border-width: 1px;
}
.sx-success-soft {
    @include success-text;
    background-color: $success-soft-color;
    @include no-border;
}

/** Info */
$info-color: rgb(8 149 216);
$info-dark-color: rgb(6, 105, 152);
$info-soft-color: rgba(8, 149, 216, .25);
@mixin info-bg {
    background-color: $info-color;
}
@mixin info-text {
    color: $info-color;
}
@mixin info-border {
    border-color: $info-color;
}
.sx-info {
    @include white-text;
    @include info-bg;
}
.sx-info-outline {
    @include info-text;
    @include info-border;
    border-width: 1px;
}
.sx-info-soft {
    @include info-text;
    background-color: $info-soft-color;
    @include no-border;
}

/** Warning */
$warning-color: rgb(226 169 7);
$warning-dark-color: rgb(133 77 14);
$warning-soft-color: rgba(226, 169, 7, .25);
@mixin warning-bg {
    background-color: $warning-color;
}
@mixin warning-text {
    color: $warning-color;
}
@mixin warning-border {
    border-color: $warning-color;
}
.sx-warning {
    @include white-text;
    @include warning-bg;
}
.sx-warning-outline {
    @include warning-text;
    @include warning-border;
    border-width: 1px;
}
.sx-warning-soft {
    @include warning-text;
    background-color: $warning-soft-color;
    @include no-border;
}

/** Danger */
$danger-color: rgb(230 53 53);
$danger-dark-color: rgb(124, 24, 24);
$danger-soft-color: rgba(230, 53, 53, .25);
@mixin danger-bg {
    background-color: $danger-color;
}
@mixin danger-text {
    color: $danger-color;
}
@mixin danger-border {
    border-color: $danger-color;
}
.sx-danger {
    @include white-text;
    @include danger-bg;
}
.sx-danger-outline {
    @include danger-text;
    @include danger-border;
    border-width: 1px;
}
.sx-danger-soft {
    @include danger-text;
    background-color: $danger-soft-color;
    @include no-border;
}

/** Dark */
$dark-color: rgb(49 58 70);
$dark-soft-color: rgba(49, 58, 70, .25);
@mixin dark-bg {
    background-color: $dark-color;
}
@mixin dark-text {
    color: $dark-color;
}
@mixin dark-border {
    border-color: $dark-color;
}
.sx-dark {
    @include white-text;
    @include dark-bg;
}
.sx-dark-outline {
    background-color: $dark-soft-color;
    @include dark-text;
    @include dark-border;
    border-width: 1px;
}
.sx-dark-soft {
    @include dark-text;
    background-color: $dark-soft-color;
    @include no-border;
}

/** Secondary */
$secondary-color: rgb(104 98 93);
$secondary-soft-color: rgba(104, 98, 93, .25);
@mixin secondary-bg {
    background-color: $secondary-color;
}
@mixin secondary-text {
    color: $secondary-color;
}
@mixin secondary-border {
    border-color: $secondary-color;
}
.sx-secondary {
    @include white-text;
    @include secondary-bg;
}
.sx-secondary-outline {
    @include secondary-text;
    @include secondary-border;
    border-width: 1px;
}
.sx-secondary-soft {
    @include secondary-text;
    background-color: $secondary-soft-color;
    @include no-border;
}

/** Light */
$light-color: rgb(238 242 247);
$light-soft-color: rgba(238, 242, 247, .5);
@mixin light-bg {
    background-color: $light-color;
}
@mixin light-text {
    color: $light-color;
}
@mixin light-border {
    border-color: $light-color;
}
.sx-light {
    @include dark-text;
    @include light-bg;
}
.sx-light-outline {
    background-color: $light-soft-color;
    @include dark-text;
    @include dark-border;
    border-width: 1px;
}
.sx-light-soft {
    @include dark-text;
    background-color: $light-soft-color;
    @include no-border;
}
